$primary-one: #2e2f36; /*light blue*/
$primary-two: #4cacc7; /*dark blue*/
$primary-three: #1c1e84; /*midnight blue*/

$title-one: #444; /*dark blue*/

$text-color: #444; /*grey*/
$link-color: #1c1e84; /*midnight blue*/