.outer-wrapper-footer {
    background-color: $color-grey;
}

.site-footer {
    padding: 0;
    color: $color-white;
    font-size: 1.5rem;

    a {
        color: $color-white;
    }
}

.footer-links {
    li {
        display: inline-block;

        &:not(:first-child):before {
            content: '|';
            margin: 0 0.5rem;
        }
    }
}
