/*
    Settings: COLORS

    The color palette is where colors across the site are set.
    Here are the rules:
        -   Only reference specific hexadecimal colors within the Color Palette area of this partial.
        -   Color names are based on hexadecimal color here: http://chir.ag/projects/name-that-color/
        -   These variables will be used in various places
*/

// Base set of colors which are used.
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #777777;
$color-light-grey: #cccccc;
$color-yellow: #ffff00;
$color-orange: #ff9900;
$color-red: #ff0000;
$color-blue: #0000ff;
