/*
    Settings: EXTENDABLES

    These are placeholder selectors which can be extended.
*/

%cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%button {
    background-color: $color-white;
    border: 2px solid $color-black;
    border-radius: $base-radius;
    display: inline-block;
    padding: 1rem;
    color: $color-black;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    appearance: none;

    &:hover {
        background-color: $color-light-grey;
    }

    &:visited {
        color: $color-black;
    }

    &:not(:last-child) {
        margin-bottom: $base-spacing-unit;
    }
}
